:root{

    --light-color: #FFFF;
    --dark-color: #7113;
    --header-color: rgba(229, 128, 27, 0.4);


}




img{




    width: 350px;
}
body{
    
    text-align:center;
    font-family: fantasy;
    background-image: linear-gradient(45deg, rgb(15, 235, 52), rgb(127, 48, 127));
     color: var(--dark-color);
     
}
header{
    text-align: left;
    vertical-align: top;
    margin: 30px;
    color: var(--header-color)
}
footer{
    text-align: right;
    padding: 20px;
    
    
}
.grid{
    display: grid;
    grid-template-areas:
    "a c"
    "b c";
    gap: 10px;
    margin: 30px;
    background-color: var(--dark-color);

}
.first{
    grid-area: a;
    background-color: var(--light-color);
    color:aqua;


}
.second{
    grid-area: b;
    background-color: var(--header-color);
    color:azure;

}
.third{
    grid-area: c;
    background-color: pink;
    color:rgb(38, 202, 202);

}
.box{
    padding: 20px;
    margin: 0px;
    align-items: center;
    border: none;
    
}

.animated{
    animation: wobble 1s ease-in-out infinite alternate
}
@keyframes wobble{
        0%{transform:rotate(-20deg);}
        100%{transform:rotate(20deg);}
    }


.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

.item{
    background: rgb(70, 40, 9);
    padding: 20px;
    color: gray;
}

#day3{
    background-image: linear-gradient(45deg, orange, yellow);
    
}

.thisisfun{
    display: grid;
    grid-template-areas:
    "a b"
    "a c";
    gap: 10px;
    margin: 30px;
    background-color: rgb(107, 119, 33);
}
.redcap{
    grid-area: a;
    background-color: lightpink;
    color: rgb(243, 21, 21);

}
.bluecap{
    grid-area: b;
    background-color: lightblue;
    color: rgb(21, 21, 243);

}
.greencap{
    grid-area: c;
    background-color: lightgreen;
    color: green;
}
.fun{
    padding: 20px;
    margin: 0px;
    align-items: center;
    border: none;
    
}
.bossflexer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.peasant{
    background: rgb(177, 7, 35);
    padding: 20px;
    color: rgb(68, 56, 56);

}
.dancin{
    animation: dance 1s ease-in-out infinite alternate

}
@keyframes dance{
        0%{transform:rotate(-40deg);}
        100%{transform:rotate(40deg);}
}